<nav>
    <ul>
        <li *ngIf="!logueado">
            <a routerLink="/login">entrar</a>
        </li>        
        <li  *ngIf="logueado">
            <a routerLink="/primer/465">primer</a>
        </li>
        <li  *ngIf="logueado">
            <a routerLink="/primer/segundo">primer y segundo</a>
        </li>
        <li  *ngIf="logueado">
            <a routerLink="/segundo">segundo</a>
        </li>
        <li  *ngIf="logueado">
            <button (click)="salir()">salir</button>
        </li>
    </ul>
</nav>
